$base-font-size: 16px;
$content-size: 1200px;
$font-family: 'Inter', Arial, sans-serif;

/* Colors */

$color-violet: #AE32B9;
$color-blue: #44A1E7;
$color-blue-dark: #000046;
$color-grey: #4F4F4F;
$color-white: #FFFFFF;
$color-black: #000000;