.about {
  background: linear-gradient(to right, #fff 35%, #F0F1F4 35%);

  &__decor-wrapper {
    position: absolute;
    top: 80px;
    left: -120%;
  }

  &__content {
    min-height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  &__name {
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__text {
    margin-bottom: 50px;
  }

  &__number {
    top: -30px;
    left: 15px;
  }
}