.blog {
  padding-bottom: 120px;

  .first-row {
    margin-bottom: 80px;
  }

  &__name {
    margin-bottom: 30px;
  }

  &__title {
    color: $color-blue-dark;
  }

  &__button-wrapper {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    padding: 30px;

    &-img {
      margin-bottom: 30px;
    }

    &-title {
      margin-bottom: 20px;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
    }

    &-text {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%;
      margin-bottom: 30px;
    }

    &-meta {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-date {
      color: #6D7DA0;
      font-size: 13px;
      font-style: normal;
      font-weight: 300;
      line-height: 170%;
      letter-spacing: 1.3px;
      text-transform: uppercase;
    }
  }
}