* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: $base-font-size;
  scroll-padding-top: 100px;
}

body {
  height: 100%;
  font-family: $font-family;
  background: $color-white;
  color: $color-grey;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.site,
.wrapper {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'Poppins', Arial, sans-serif;
  font-weight: 400;
}

a {
  display: inline-block;
  color: #52a5ed;
  text-decoration: none;
  transition: 0.15s ease-out;

  &:hover {
    color: #ff6262;
    text-decoration: none;
  }
}

p {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  padding: 80px 0;

  @include media-breakpoint-down(sm) {
    padding: 50px 0;
  }

  &__name {
    color: $color-blue;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%;
    letter-spacing: 1.3px;
    text-transform: uppercase;
  }

  &__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;

    @include media-breakpoint-down(xs) {
      font-size: 30px;
      line-height: 40px;
    }

    &--blue {
      color: $color-blue-dark;
    }
  }

  &__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
  }

  &__number {
    position: absolute;
    z-index: 10;

    @include media-breakpoint-down(md) {
      max-width: 150px;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 170%;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    transition: 0.15s ease-out;

    path {
      transition: 0.15s ease-out;
    }

    &--blue {
      color: $color-blue-dark;

      &:hover {
        color: $color-blue;

        path {
          stroke: $color-blue!important;
        }
      }
    }

    &--white {
      color: $color-white;

      &:hover {
        color: $color-blue;

        path {
          stroke: $color-blue!important;
        }
      }
    }
  }
}

.button {
  min-width: 230px;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  padding: 16px 27px;
  transition: 0.15s ease-out;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  border: 1px solid transparent;
  text-align: center;

  &--transparent {
    background-color: transparent;
    border: 1px solid $color-blue;
    color: $color-white;
    transition: 0.15s ease-out;

    &:hover {
      background-color: $color-blue;
      color: $color-white;
    }
  }

  &--blue {
    background-color: $color-blue;
    color: $color-white;

    &:hover {
      background: darken($color-blue, 10);
      color: $color-white;
    }
  }

  &--white {
    background: $color-white;
    color: $color-blue-dark;

    &:hover {
      background: $color-blue-dark;
      color: $color-white;
    }
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.text-blue-light {
  color: $color-violet;
}

.overflow-hidden {
  overflow: hidden;
}

.order-first {
  order: 1;

  @include media-breakpoint-down(sm) {
    order: -1;
  }
}

.order-middle-1 {
  @include media-breakpoint-down(md) {
    order: 1;
  }
}

.order-small-1 {
  @include media-breakpoint-down(sm) {
    order: 1;
  }
}