.header {
  position: absolute;
  width: 100%;
  transition: .2s ease;
  z-index: 99;

  @include media-breakpoint-down(lg) {
    height: auto;
    overflow: hidden;
    z-index: 99;
  }

  @include media-breakpoint-down(md) {
    background: $color-black;
  }

  &.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 3px 5px rgb(0 0 0 / 40%);
    background: $color-black;

    .logo {
      min-width: 120px;

      img {
        max-width: 70px;

        @include media-breakpoint-down(xs) {
          max-width: 60px;
        }
      }
    }
  }

  .logo {
    margin-right: 50px;
    transition: 0.15s ease-out;

    @include media-breakpoint-down(md) {
      margin-right: 0;
    }

    &:hover {
      opacity: 0.7;
    }

    img {
      transition: 0.15s ease-out;

      @include media-breakpoint-down(md) {
        max-width: 90px;
      }

      @include media-breakpoint-down(xs) {
        max-width: 70px;
      }
    }
  }

  .navbar {
    padding: 0;
  }

  &__phone {
    @include media-breakpoint-down(md) {
      margin: 20px 0;
    }

    &-link {
      display: flex;
      align-items: center;
      gap: 5px;
      color: $color-white;

      path {
        transition: 0.15s ease-out;
      }

      &:hover {
        color: $color-blue;

        path {
          stroke: $color-blue;
        }
      }
    }
  }

  .navbar-toggler {
    &[aria-expanded="false"] {
      background: url("../img/burger.png") center/contain no-repeat;
    }

    &[aria-expanded="true"] {
      background: url("../img/close.png") center/contain no-repeat;
    }
  }
}

.navbar-nav {
  gap: 50px;

  @include media-breakpoint-down(lg) {
    gap: 20px;
  }

  @include media-breakpoint-down(md) {
    margin-top: 20px;
  }

  &__link {
    position: relative;
    color: $color-white;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: transparent;
      bottom: -10px;
      left: 0;
      transition: 0.15s ease-out;
    }

    &:hover {
      color: $color-blue;

      &::after {
        background: $color-blue;
      }
    }
  }
}