extends layout/app

block variables
    - var title = 'Teetan21'
    - var pageClass = 'home-page'

block page
    include chunk/hero
    include chunk/about
    include chunk/statistics
    include chunk/services
    include chunk/strategy
    include chunk/verticals
    include chunk/partners