section.section.about#about
    .container.position-relative
        .section__number.about__number
            img(src="./img/01.svg" alt="01")
        .row
            .col-lg-6.offset-lg-6
                .about__decor-wrapper
                    img.about__img(src="./img/about.jpg" alt="About us")
                .about__content
                    h3.section__name.about__name about us
                        h2.section__title.section__title--blue.about__title Our sole focus is to help companies navigate complex Indian market
                        p.section__text.about__text At TEENAN21, We work with Technlogy companies to provide innovative & integrated solutions to enable a successful entry and expansion in India. We bring innovative ideas in Product Development, Technology Transfer, and Consulting to achieve cutting edge and way ahead of the competition.
                        a.section__link.section__link--blue(href="#")
                            span find out more
                            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none')
                                path(d='M13.1667 6.5L19 12.5M19 12.5L13.1667 18.5M19 12.5L5 12.5' stroke='#000046' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')