section.section.blog
    .container
        .row.first-row(data-aos="fade-up")
            .col-lg-7
                h3.section__name.blog__name our blog
                h2.section__title.blog__title We post often to our blog to keep you updated with the latest insights and trends
            .col-lg-5
                .blog__button-wrapper
                    a.button.button--blue(href="#") see all
        .row
            .col-lg-12
                .blog__list(data-aos="fade-up" data-aos-delay="100")
                    .blog__item
                        img.blog__item-img(src="./img/post-1.jpg" alt="Spirit at Bridge Promenade")
                        h3.blog__item-title Spirit at Bridge Promenade
                        p.blog__item-text Nec harum bonorum menandri ei. Idque noluisse te vix, mel sonet nihil te, ut solum option consulatu cum. Ex clita tacimates inimicus usu, facer alter...
                        .blog__item-meta
                            a.section__link.section__link--blue(href="#")
                                span find out more
                                svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                    path(d='M13.1667 6L19 12M19 12L13.1667 18M19 12L5 12' stroke='#000046' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                            .blog__item-date Jan 3, 2023
                    .blog__item
                        img.blog__item-img(src="./img/post-2.jpg" alt="BG Presents its Milestone")
                        h3.blog__item-title BG Presents its Milestone
                        p.blog__item-text Nec harum bonorum menandri ei. Idque noluisse te vix, mel sonet nihil te, ut solum option consulatu cum. Ex clita tacimates inimicus usu, facer alter...
                        .blog__item-meta
                            a.section__link.section__link--blue(href="#")
                                span find out more
                                svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                    path(d='M13.1667 6L19 12M19 12L13.1667 18M19 12L5 12' stroke='#000046' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                            .blog__item-date Jan 2, 2023
                    .blog__item
                        img.blog__item-img(src="./img/post-3.jpg" alt="BG Launches Terraces")
                        h3.blog__item-title BG Launches Terraces
                        p.blog__item-text Nec harum bonorum menandri ei. Idque noluisse te vix, mel sonet nihil te, ut solum option consulatu cum. Ex clita tacimates inimicus usu, facer alter...
                        .blog__item-meta
                            a.section__link.section__link--blue(href="#")
                                span find out more
                                svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                    path(d='M13.1667 6L19 12M19 12L13.1667 18M19 12L5 12' stroke='#000046' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                            .blog__item-date Jan 1, 2023