section.section.clients#clients
    .container.position-relative
        .section__number.clients__number(data-aos="fade-up")
            img(src="./img/05.svg" alt="05")
        .row.first-row(data-aos="fade-up" data-aos-delay="100")
            .col-lg-5
                h3.section__name.clients__name our clients
                h2.section__title.clients__title Companies who trust us
            .col-lg-7
                .clients__info
                    p.clients__text Quis eu at condimentum amet sed facilisi viverra. Sit fames sed vulputate auctor tincidunt. Et sit blandit eu nam scelerisque lorem lectus nibh dis.
        .row
            .col-lg-12
                .clients__list(data-aos="fade-up" data-aos-delay="200")
                    .clients__item
                        .clients__item-box
                        img.clients__item-img(src="./img/client-1.png" alt=" Client 1")
                    .clients__item
                        .clients__item-box
                        img.clients__item-img(src="./img/client-2.png" alt=" Client 2")
                    .clients__item
                        .clients__item-box
                        img.clients__item-img(src="./img/client-3.png" alt=" Client 3")
                    .clients__item
                        .clients__item-box
                        img.clients__item-img(src="./img/client-4.png" alt=" Client 4")
                    .clients__item
                        .clients__item-box
                        img.clients__item-img(src="./img/client-5.png" alt=" Client 5")
                    .clients__item
                        .clients__item-box
                        img.clients__item-img(src="./img/client-6.png" alt=" Client 6")