section.section.hero
    .container
        .row
            .col-lg-12
                .hero__content
                    h1.hero__title We help leaders grow their businesses for a brighter future
                    p.hero__description Customers worldwide rely on our innovative solutions and services to meet their most essential needs and overcome their biggest challenges in various settings.
                    .hero__buttons
                        a.hero__button.button.button--blue(href="#services") Explore our services
                        button.hero__button.button.button--transparent get in touch