section.section.partners#partners
    .container.position-relative
        .section__number.partners__number(data-aos="fade-up")
            img(src="./img/04.svg" alt="04")
        .row
            .col-lg-4.offset-lg-4.text-center(data-aos="fade-up" data-aos-delay="100")
                h3.section__name.partners__name our partners
                h2.section__title.partners__title Our reliable partners who we work with
                p.section__text.partners__text Quis eu at condimentum amet sed facilisi viverra. Sit fames sed vulputate auctor tincidunt. Et sit blandit eu nam scelerisque lorem lectus nibh dis.
        .row
            .col-lg-12
                .partners__list(data-aos="fade-up" data-aos-delay="200")
                    .partners__item
                        img.partners__item-img(src="./img/partner-1.png" alt="Zofra")
                        h3.partners__item-title Zofra
                        p.partners__item-text Finnish Company specializing in Artificial Intelligence
                        a.section__link.section__link--blue(href="#")
                            span website
                            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                path(d='M8.45826 7.08068L16.9803 7.08056M16.9803 7.08056L16.9803 15.4813M16.9803 7.08056L7.08076 16.9801' stroke='#000046' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    .partners__item
                        img.partners__item-img(src="./img/partner-2.png" alt="Norner")
                        h3.partners__item-title Norner
                        p.partners__item-text Global market leader of Industrial R&D services in Polymers
                        a.section__link.section__link--blue(href="#")
                            span website
                            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                path(d='M8.45826 7.08068L16.9803 7.08056M16.9803 7.08056L16.9803 15.4813M16.9803 7.08056L7.08076 16.9801' stroke='#000046' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    .partners__item
                        img.partners__item-img(src="./img/partner-3.png" alt="EVNAT")
                        h3.partners__item-title EVNAT
                        p.partners__item-text Perfect Solution for Mixing Media In VSTS
                        a.section__link.section__link--blue(href="#")
                            span website
                            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                path(d='M8.45826 7.08068L16.9803 7.08056M16.9803 7.08056L16.9803 15.4813M16.9803 7.08056L7.08076 16.9801' stroke='#000046' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    .partners__item
                        img.partners__item-img(src="./img/partner-4.png" alt="Volt")
                        h3.partners__item-title Volt
                        p.partners__item-text French Company specializing in electricity
                        a.section__link.section__link--blue(href="#")
                            span website
                            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                path(d='M8.45826 7.08068L16.9803 7.08056M16.9803 7.08056L16.9803 15.4813M16.9803 7.08056L7.08076 16.9801' stroke='#000046' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')