section.section.services#services
    .container.position-relative
        .section__number.services__number(data-aos="fade-up")
            img(src="./img/02.svg" alt="02")
        .row
            .col-lg-12
                .services__heading(data-aos="fade-up" data-aos-delay="100")
                    h3.section__name.services__name our services
                    h2.section__title.services__title Our experts will provide you with a full stack of services
                    p.section__text.services__text Quis eu at condimentum amet sed facilisi viverra. Sit fames sed vulputate auctor tincidunt. Et sit blandit eu nam scelerisque lorem lectus nibh dis.
        .row
            .col-lg-12
                .services__list(data-aos="fade-up" data-aos-delay="200")
                    .services__item
                        img.services__item-img(src="./img/service-1.jpg" alt="Consulting")
                        h3.services__item-title Consulting
                        p.services__item-text Quis eu at condimentum amet sed facilisi viverra. Sit fames sed vulputate auctor tincidunt. Et sit blandit eu nam scelerisque lorem lectus nibh dis.
                        a.section__link.section__link--white(href="#")
                            span find out more
                            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                path(d='M13.1667 6L19 12M19 12L13.1667 18M19 12L5 12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    .services__item
                        img.services__item-img(src="./img/service-2.jpg" alt="Implementation")
                        h3.services__item-title Implementation
                        p.services__item-text Quis eu at condimentum amet sed facilisi viverra. Sit fames sed vulputate auctor tincidunt. Et sit blandit eu nam scelerisque lorem lectus nibh dis.
                        a.section__link.section__link--white(href="#")
                            span find out more
                            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                path(d='M13.1667 6L19 12M19 12L13.1667 18M19 12L5 12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    .services__item
                        img.services__item-img(src="./img/service-3.jpg" alt="Trading")
                        h3.services__item-title Trading
                        p.services__item-text Quis eu at condimentum amet sed facilisi viverra. Sit fames sed vulputate auctor tincidunt. Et sit blandit eu nam scelerisque lorem lectus nibh dis.
                        a.section__link.section__link--white(href="#")
                            span find out more
                            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                path(d='M13.1667 6L19 12M19 12L13.1667 18M19 12L5 12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    .services__item
                        img.services__item-img(src="./img/service-4.jpg" alt="Supply Chain and Sourcing")
                        h3.services__item-title Supply Chain and Sourcing
                        p.services__item-text Quis eu at condimentum amet sed facilisi viverra. Sit fames sed vulputate auctor tincidunt. Et sit blandit eu nam scelerisque lorem lectus nibh dis.
                        a.section__link.section__link--white(href="#")
                            span find out more
                            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                path(d='M13.1667 6L19 12M19 12L13.1667 18M19 12L5 12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    .services__item
                        img.services__item-img(src="./img/service-5.jpg" alt="Oil and Gas Pipeline Safety Solutions")
                        h3.services__item-title Oil and Gas Pipeline Safety Solutions
                        p.services__item-text Quis eu at condimentum amet sed facilisi viverra. Sit fames sed vulputate auctor tincidunt. Et sit blandit eu nam scelerisque lorem lectus nibh dis.
                        a.section__link.section__link--white(href="#")
                            span find out more
                            svg(xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none')
                                path(d='M13.1667 6L19 12M19 12L13.1667 18M19 12L5 12' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                    .services__item
                        .services__item-inner
                            h3.services__item-question Can we help your product with some of our expert services?
                            a.services__button.button.button--white(href="#contact") let’s discuss