section.section.statistics
    .container
        .row
            .col-lg-12
                .statistics__list(data-aos="fade-up")
                    .statistics__item
                        span.statistics__item-number 20
                        h3.statistics__item-title #[strong Years experience] on the market
                        p.statistics__item-text Quis eu at condimentum amet sed facilisi viverra vulputate
                    .statistics__item
                        span.statistics__item-number 100+
                        h3.statistics__item-title #[strong Successful] projects
                        p.statistics__item-text Quis eu at condimentum amet sed facilisi viverra vulputate
                    .statistics__item
                        span.statistics__item-number 80+
                        h3.statistics__item-title #[strong Loyal] clients
                        p.statistics__item-text Quis eu at condimentum amet sed facilisi viverra vulputate
                    .statistics__item
                        span.statistics__item-number $2,87M
                        h3.statistics__item-title #[strong Revenue] of our clients
                        p.statistics__item-text Quis eu at condimentum amet sed facilisi viverra vulputate