section.section.strategy
    .container
        .row
            .col-lg-10.offset-lg-1
                .strategy__content(data-aos="fade-up")
                    h3.section__name.strategy__name our strategy
                    h2.section__title.strategy__title Through our network within international business and government across key vertical we facilitate hight level contracts for our clients