section.section.verticals#verticals
    .container.position-relative
        .section__number.verticals__number
            img(src="./img/03.svg" alt="03")
        .row.align-items-lg-center
            .col-lg-5
                .verticals__content
                    h3.section__name.verticals__name verticals
                    h2.section__title.verticals__title Our experts will provide you with a full stack of services
                    p.section__text.verticals__text TEENAN21 is always up to the challenge. Our team keeps striving to achieve exceptional results, on time and beyond expectations.
                    p.section__text.verticals__text Every aspect of TEENAN21 operations is streamlined to make great efficiency its trademark, from supply, to detailing all the way through to delivery of smart projects.
                    .verticals__button-wrapper
                        button.button.button--blue view more
            .col-lg-7
                .swiper.verticals__slider
                    .swiper-wrapper
                        .swiper-slide.verticals__slide
                            img.verticals__slide-img(src="./img/slide-1.jpg" alt="Oil and Gas")
                            .verticals__slide-inner
                                p.verticals__slide-text Oil and Gas
                        .swiper-slide.verticals__slide
                            img.verticals__slide-img(src="./img/slide-2.jpg" alt="Coal and Mining")
                            .verticals__slide-inner
                                p.verticals__slide-text Coal and Mining
                        .swiper-slide.verticals__slide
                            img.verticals__slide-img(src="./img/slide-3.jpg" alt="Infrastructure")
                            .verticals__slide-inner
                                p.verticals__slide-text Infrastructure
                    .swiper-button-prev
                    .swiper-button-next
                    .swiper-scrollbar